@using ge_app.Models
@model IEnumerable<ge_app.Models.ProcessModel>
    
@{
    ViewData["Title"] = "Groundwater Monitoring Toolbox";
}

<div class="container">
    <h3 class="display-4">Groundwater Monitoring Toolbox</h3>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Groundwater">Groundwater Monitoring</a>.</p>


    <h1>View MOND Table Results</h1>
    <p>Connect to an SQL gINT database and query the monitoring data in the MOND table</p> 
    <p>@Html.ActionLink("View MOND Table", "MONDResults")</p>
    
    
    @* @if (Model != null)  
   {  
       foreach (var item in Model)  
       {  
       <ul id="items">  
  
           <li>  
               @Html.DisplayFor(modelItem => item.name) 
               <p> @Html.DisplayFor(modelItem => item.description)   
                    <a href="@Href("~/static/" + item.html_page)">
                   @Html.DisplayFor(modelItem => item.name) </a>
                </p> 
           </li>  
       </ul>  
       }  
   }   *@
</div>
