@using ge_app.Models

@model IEnumerable<ge_app.Models.ProcessModel>

@{
    ViewData["Title"] = "Bearing Resistance Tools";
}

<div class="container">
    <h1 class="display-4">Bearing Resistance Tools</h1>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Bearing_capacity">Bearing Resistance</a>.</p>

<h1> Undrained Bearing Resistance of Shallow Footing</h1>
<p>Calculate undrained bearing resistance of rectancular footing using EC7 formulae</p> 
<p>@Html.ActionLink("Undrained Bearing Resistance", "UndrainedBearingEC7")</p>


<h1>Drained Bearing Resistance of Shallow Footing</h1>
<p>Calculate drained beraing resistance of rectancular footing using EC7 formulae</p> 
<p>@Html.ActionLink("Drained Bearing Resistance", "DrainedBearingEC7")</p>

<h1>Inclination Factor for Shallow Footing</h1>
<p>Investigate the Load Inclination Factor Ic </p> 
<p>@Html.ActionLink("Load Inclination Factor", "EC7D1ic")</p>


    @* @if (Model != null)  
   {  
       foreach (var item in Model)  
       {  
       <ul id="items">  
  
           <li>  
               @Html.DisplayFor(modelItem => item.name) 
               <p> @Html.DisplayFor(modelItem => item.description)   
                    <a href="@Href("~/static/" + item.html_page)">
                   @Html.DisplayFor(modelItem => item.name) </a>
                </p> 
            </li>  
       </ul>  
       }  
   }   *@
</div>
